html {
  font-size: 16px;
}

body {

}

/* header */

nav {
  display: flex;
  width: 97%;
  background-color: #ffffff;
  height: 4rem;
  align-items: center;
  position: fixed;
  z-index: 10;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.colmar {
  color: #2c3138;
  font-weight: bold;
}

.academy {
  color: #676a70;
}

ul {
  display: flex;
}

ul li {
  padding: 0 0.5rem;
}

a {
  text-decoration: none;
  color: #2c3138;
}

.nav {
  display: none;
}

/* Banner */

.container {
  padding: 2rem 1.5rem;
  max-width: 60%;
}

section {
  width: 100%;
  display: flex;
}

.banner {
  padding-top: 4rem;
  background-color: #afb3bc;
}

.banner aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

aside {
  max-width: 40%;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

img {
  width: 100%;
}

/* Academy Information */

h2 {
  padding-top: 2rem;
}

.academy-info .container p {
  padding-top: 1.5rem;
}

.info {
  border-left: 1px solid #afb3bc;
}

.content {
  display: flex;
  max-width: 100%;
}

.image {
  max-width: 35%;
  height: auto;
  padding: 1rem 1rem;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text p {
  padding-top: 0.5rem;
}

.text a {
  padding-top: 0.5rem;
}

/* Courses */

.courses {
  background-color: #afb3bc;
  align-items: center;
  flex-direction: column;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3.5rem 2rem 3.5rem;
  justify-content: center;
}

.course {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #ffffff;
  margin: 1rem;
  width: 25%;
}

.course .text {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course p {
  padding-top: 0.5rem;
  margin: 0;
}

/* Thesis */

.thesis {
  background-color: #ffffff;
  flex-direction: column;
}

.thesis h2 {
  text-align: center;
}

.thesis-content {
  display: flex;
}

video {
  width: 100%;
}

.thesis h3 {
  padding: 1.5rem 0 0.5rem 0;
}

.thesis aside {
  padding-top: 1rem;
}
